<template>
    <div class="page">
        <h1>Create new campaign</h1>
        <form class="form form-vertical">
            <label class="form_label">Campaign name</label>
            <input class="form_input" type="text" v-model="campaignName">
            <label class="form_label">Description</label>
            <textarea class="form_textArea" v-model="campaignDescription"></textarea>
            <div class="editPlayers" style="margin-top: 1rem;">
              <h2>Invite players</h2>
              <div class="addPlayer">
                  <label class="form_label">Player name</label>
                  <input type="text" class="form_input" v-model="newPlayer" ref="newPlayer" maxlength="35">
                  <button @click="addPlayer" :disabled="!newPlayer" class="pch-button pch-button--high pch-button--create" style="padding: 0 .5rem;">
                    <svg width="9" height="9">
                      <rect height="3" width="9" x="0" y="3" fill="currentColor" />
                      <rect height="9" width="3" x="3" y="0" fill="currentColor" />
                    </svg>
                  </button>
              </div>
              <div class="addedPlayers">
                  <div v-for="(player, index) in players" :key="index" style="margin-bottom: .25rem;">
                    <span class="playerName" style="padding: .5rem 1rem;">{{player}}</span>
                    <button @click="removePlayer(index)" class="pch-button pch-button--high pch-button--destroy" style="padding: 0 .5rem;">
                      <svg width="9" height="9">
                        <rect height="3" width="9" x="0" y="3" fill="currentColor" />
                      </svg>
                    </button>
                  </div>
              </div>
              <aside>
                <p>
                  In an upcoming release (soon we hope!) we'll let you invite your friends by email directly.
                </p>
                <p>
                  Until then, we'll give you dedicated invitation URLs for each player. You'll find those in your campaign details on the next page.
                </p>
              </aside>
            </div>
            <div style="margin-top: 1rem; display: flex; align-items: center;">
              <button @click="$router.go(-1)" class="pch-button pch-button--low pch-button--normal" style="margin-right: .5rem;">Cancel</button>
              <input type="submit" :value="alreadyCreated ? 'Save' : 'Create'" :disabled="!campaignName" :title="!campaignName ? 'Please enter a campaign name' : ''" class="pch-button pch-button--high" :class="[{'pch-button--create': !alreadyCreated}, {'pch-button--normal': alreadyCreated}]" @click="createCampaign()">
            </div>
        </form>
    </div>
</template>

<script>
export default {
  data () {
    return {
      campaignName: '',
      campaignDescription: '',
      players: [],
      newPlayer: '',
      alreadyCreated: false
    }
  },
  methods: {
    addPlayer () {
      this.players.push(this.newPlayer)
      this.newPlayer = ''
      this.$refs.newPlayer.focus()
    },
    removePlayer (index) {
      this.players.splice(index, 1)
    },
    createCampaign () {
      this.$emit('created-campaign', { name: this.campaignName, description: this.campaignDescription, players: this.players })
      this.alreadyCreated = true
      this.$router.push({ name: 'list' })
    }
  }
}
</script>

<style lang="scss" scoped>
.addedPlayers div {
  display: flex;

  span, input {
    flex: 1;
  }
}

.addPlayer {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: .5rem;
}

.addPlayer label {
  grid-column: span 2;
}

.editPlayers {
  display: grid;
  width: 80ch;
  grid-template-columns: 30ch 1fr;
  grid-template-rows: auto auto 1fr;
  align-items: start;
  grid-gap: .25rem 1rem;

  div {
    grid-column: 1;
  }
}

aside {
  background-color: var(--color-background-mid);
  border: solid 1px currentColor;
  padding: 0 1rem;
  line-height: 1.3;
  grid-column: 2;
  grid-row: 1 / 4;

  p:first-child {
    margin-bottom: 1rem;
  }
}
</style>
