<template>
  <main>
    <div class="preface"><strong>Jordan McInnis</strong> has invited you to play in</div>
    <h1>The Lost Mines of Phandelver</h1>
    <div class="options">
      <button class="pch-button pch-button--high pch-button--create" @click="$router.push({name:'list'})">Accept</button>
      <button class="pch-button pch-button--medium pch-button--normal">Decline</button>
    </div>
  </main>
</template>

<script>
export default {
  data () {
    return {

    }
  }
}
</script>

<style lang="scss" scoped>

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .preface {
    font-size: 1.5rem;
    margin-bottom: .75rem;
  }

  .options {
    display: flex;
    margin-top: 3rem;

    button:first-child {
      margin-right: 1rem;
    }
  }
</style>
