<template>
  <div class="page">
    <h1 style="margin-bottom: 1rem;">Campaig<span @click="nextStep()">n</span>s</h1>
    <div class="actions">
      <label class="search"><input v-model="searchText" class="form_input" placeholder="Search campaigns"></label>
      <button
        class="pch-button pch-button--normal pch-button--high"
        style="margin-bottom: 1rem;"
        @click="$router.push({name: 'create'})">
          Create new campaign
      </button>
    </div>
    <div class="campaign" :class="{ expanded: expandedCampaign === index, owned: campaign.creator === 'You' }" v-for="(campaign, index) in campaigns" :key="index">
      <h2>{{campaign.name}}</h2>
      <em class="author">{{campaign.creator}} <strong v-if="expandedCampaign === index">- Game Master</strong></em>
      <p class="description" v-if="expandedCampaign === index">{{campaign.description}}</p>
      <div class="playercount" v-if="!campaign.demoCreated">
        <svg viewBox="0 0 100 100" height="28" width="28" style="user-select: none;">
          <title>{{campaign.players.length}} players</title>
          <circle cx="50" cy="36" r="36" fill="currentColor" />
          <path d="M 0 100 L 18 74 L 26 68 H 74 L 82 74 L 100 100 Z" fill="currentColor"/>
          <text fill="white" x="50" y="85" font-size="70" text-anchor="middle">{{campaign.players.length}}</text>
        </svg>
        <div v-if="expandedCampaign === index">
          <span v-for="(player, pindex) in campaign.players" :key="pindex">{{player}}</span>
        </div>
      </div>
      <div v-else class="invitePlayers" style="width: 100%;">
        <div v-if="expandedCampaign === index" style="display: contents;">
        <label class="form_label">Player</label>
        <label class="form_label">Invite link</label>
          <p v-if="!campaign.players.length">You haven't invited any players. <router-link to="/create">
            Invite some now!
          </router-link></p>
          <div v-for="(player, pindex) in campaign.players" :key="pindex" style="display: contents;">
            <span style="white-space: nowrap;">{{player}}</span>
            <input readonly type="text" :value="`https://mythictable.com/jak53l/${Math.random().toString(36).substring(2, 7) + Math.random().toString(36).substring(2, 15)}`" style="flex-grow: 1;font-family:monospace;width:50ch;">
          </div>
        </div>
      </div>
      <button class="edit pch-button pch-button--normal pch-button--medium" v-if="campaign.creator === 'You'" @click="$router.push('/create')">Edit</button>
      <button class="details pch-button pch-button--normal pch-button--medium" @click="expand(index)" v-if="expandedCampaign !== index">Details</button>
      <button class="details pch-button pch-button--normal pch-button--medium" @click="expand(-1)" v-else>Hide</button>
      <button class="play pch-button pch-button--normal pch-button--high">Play</button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    additionalCampaign: {
      type: Object
    }
  },
  data () {
    return {
      customCampaignAdded: false,
      campaigns: [],
      searchText: '',
      step: 1,
      allCampaigns: [
        {
          step: 2,
          name: 'Storm King\'s Thunder',
          creator: 'Ben Grant',
          players: ['a', 'a', 'a'],
          description: 'A generic campaign description'
        },
        {
          step: 2,
          name: 'The Waterdeep Tribune',
          creator: 'Anthony Jeppsen',
          players: ['a', 'a', 'a', 'a', 'a'],
          description: 'A generic campaign description'
        },
        {
          step: 2,
          name: 'Facing the Music',
          creator: 'Gerard Richardson',
          players: ['a', 'a', 'a', 'a', 'a', 'a'],
          description: 'A generic campaign description'
        },
        {
          step: 2,
          name: 'Silent Screams',
          creator: 'Eddy Morgan',
          players: ['a', 'a', 'a', 'a'],
          description: 'A generic campaign description'
        },
        {
          step: 2,
          name: 'The Halfling Uprise',
          creator: 'Arthur Martello',
          players: ['a', 'a', 'a', 'a', 'a'],
          description: 'A generic campaign description'
        },
        {
          step: 2,
          name: 'An Untimely Demise',
          creator: 'Jen Masters',
          players: ['a', 'a', 'a', 'a', 'a'],
          description: 'A generic campaign description'
        },
        {
          step: 2,
          name: 'The Lost Ones',
          creator: 'Brad Westergaard',
          players: ['A fake player', 'A fake player', 'A fake player', 'A fake player', 'A fake player', 'You'],
          description: 'A generic campaign description'
        },
        {
          step: 2,
          name: 'The Tome of Totality',
          creator: 'Lokizt',
          players: ['Almos', ' "Bonecrusher" Brimwolf', 'Claw', 'Gaston', 'You'],
          description: 'Survive in a twisted universe after the collapse of reality. Collect the tomes to grow your civilization and overthrow all that oppose you.'
        },
        {
          step: 2,
          name: 'Colossus in the Dark',
          creator: 'Zackary Borgman',
          players: ['Rex Blackwell', 'Joey Tien', 'You'],
          description: 'Set in a cyberpunk world, your party has to solve the mystery of the death of your very wealthy benefactor. Can you find the killer before it\'s too late?'
        },
        {
          step: 2,
          name: 'Altered Carbon',
          creator: 'Richard Morgan',
          players: ['Laurens Bankcroft', 'Takeshi Kovacs', 'Kristin Ortega', 'You'],
          description: 'Set in a cyberpunk world, your party has to solve the mystery of the death of your very wealthy benefactor. Can you find the killer before it\'s too late?'
        },
        {
          step: 1,
          name: 'Lost Mines of Phandelver',
          creator: 'Jordan McInnis',
          players: ['Stephanie Miller', 'Carlo Rulli', 'Ed Wheeler', 'You'],
          description: 'The Lost Mine of Phandelver from the Dungeons & Dragons Starter Set is your gateway to action-packed stories of the imagination. This adventure, ideal for a group of 4 – 6 players, is the perfect introduction to the world’s greatest roleplaying game.'
        },
        {
          step: 2,
          name: 'The Mines of Moria',
          creator: 'J. T.',
          players: ['Frodo', 'Samwise', 'Gandalf', 'You'],
          description: 'Our heroes find themselves unable to traverse the high pass amid winter storms so they are forced though the ancient Dwarven City of Moria.'
        }
      ],
      expandedCampaign: -1
    }
  },
  methods: {
    nextStep () {
      this.step = 2
      this.generateCampaignList()
    },
    expand (index) {
      this.expandedCampaign = index
    },
    generateCampaignList () {
      const output = []
      for (let c = 0; c < this.allCampaigns.length; c++) {
        let terms = []
        const campaign = this.allCampaigns[c]
        terms.push(campaign.name)
        terms.push(campaign.creator)
        terms.push(campaign.players)
        terms = terms.flat()
        if (campaign.step <= this.step && this.searchText !== '') {
          var result = false
          for (let t = 0; t < terms.length; t++) {
            const term = terms[t]
            const searched = this.searchText.split(' ')
            for (let s = 0; s < searched.length; s++) {
              if (searched[s] !== '') {
                const search = searched[s]
                if (term.toLowerCase().includes(search.toLowerCase())) { result = true }
              }
            }
          }
          if (result) output.push(campaign)
        } else {
          if (campaign.step <= this.step) {
            output.push(campaign)
          }
        }
      }
      this.campaigns = output
    }
  },
  mounted () {
    this.generateCampaignList()
  },
  activated () {
    if (this.additionalCampaign.name && !this.customCampaignAdded) {
      this.allCampaigns.push({
        step: 1,
        creator: 'You',
        name: this.additionalCampaign.name,
        description: this.additionalCampaign.description,
        players: this.additionalCampaign.players,
        demoCreated: true
      })
      this.generateCampaignList()
      this.customCampaignAdded = true
    }
  },
  computed: {
  },
  watch: {
    searchText () {
      if (this.step) this.generateCampaignList()
    }
  }
}
</script>

<style lang="scss" scoped>
.actions {
  width: 100ch;
  display: flex;

  button {
    margin-left: auto;
  }
}

.search {
  margin-right: 1rem;
}

.page {
  padding: 2rem 4rem;
}

.campaign {
  display: grid;
  grid-template-areas: "title count edit details play" "author count edit details play";
  grid-template-rows: repeat(2, auto);
  grid-template-columns: 1fr repeat(5, auto);
  align-items: center;
  justify-items: start;
  grid-gap: .5rem 1rem;
  max-width: 100ch;
  background-color: var(--color-background-top);
  padding: 1rem;
  outline: solid 2px var(--color-background-mid);

  &.owned {
    border-left: solid .75rem var(--color-primary);
  }

  &.expanded {
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 1fr repeat(2, auto);
    grid-template-areas: "title edit details play" "author edit details play" "description . . ." "count . . .";
  }

  h1 {
    grid-area: title;
  }

  .author {
    grid-area: author;
  }

  .play {
    grid-area: play;
  }

  .edit {
    grid-area: edit;
  }

  .playercount {
    grid-area: count;
    display: flex;
    align-items: center;
    width: 100%;

    span:not(:last-child) {
      margin-right: 2rem;
    }

    span:first-child {
      margin-left: 2rem;
    }
  }

  .invitePlayers {
    grid-area: count;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: .5rem 1rem;
    span {
      text-align: right;
    }
  }

  .description {
    grid-area: description;
    max-width: 65ch;
  }

  .details {
    grid-area: details
  }
}
</style>
