.form {
    &-vertical {
        display: flex;
        flex-direction: column;
        width: 30ch;
        .form_label:not(:first-child) {
            margin-top: 1.5rem;
        }
        .form_label {
            margin-bottom: .25rem;
        }
    }
    &_label {
        font-weight: bold;
    }

    &_input, &_textArea {
        padding: .5rem 1rem;
        border: 0;
      
        &:focus {
          outline: solid 2px var(--color-primary);
          box-shadow: inset 1px 1px 0 var(--color-primary), inset -1px -1px 0 var(--color-primary);
          outline-offset: 2px;
        }
    }
}