.pch-button {
    background: none;
    border: none;
    cursor: pointer;

    &:disabled {
      opacity: .6;
      cursor: not-allowed;
    }
  }

  .pch-button--normal:focus {
    outline: solid 2px var(--color-primary);
    outline-offset: 2px;
  }

  .pch-button--normal.pch-button--low, .pch-button--normal.pch-button--medium {
    color: var(--color-primary);
    transition: color .3s $animation;

    &:hover {
      color: var(--color-primary-hover);
    }

    &:active {
      color: var(--color-primary-active)
    }
  }
  .pch-button--normal.pch-button--medium {
    border: solid 1px currentColor;
  }

  .pch-button--normal.pch-button--high {
    background-color: var(--color-primary);
    color: var(--color-primary-accessible);
    transition: background-color .3s $animation;

    &:hover {
      background-color: var(--color-primary-hover);
    }

    &:active {
      background-color: var(--color-primary-active);
    }
  }

  .pch-button--create:focus {
    outline: solid 2px var(--color-create);
    outline-offset: 2px;
  }

  .pch-button--create.pch-button--low, .pch-button--create.pch-button--medium {
    color: var(--color-create);
    transition: color .3s $animation;

    &:hover {
      color: var(--color-create-hover);
    }

    &:active {
      color: var(--color-create-active)
    }
  }
  .pch-button--create.pch-button--medium {
    border: solid 2px currentColor;
  }

  .pch-button--create.pch-button--high {
    background-color: var(--color-create);
    color: var(--color-create-accessible);
    transition: background-color .3s $animation;

    &:hover {
      background-color: var(--color-create-hover);
    }

    &:active {
      background-color: var(--color-create-active);
    }
  }

  .pch-button--destroy:focus {
    outline: solid 2px var(--color-destroy);
    outline-offset: 2px;
  }

  .pch-button--destroy.pch-button--low, .pch-button--destroy.pch-button--medium {
    color: var(--color-destroy);
    transition: color .3s $animation;

    &:hover {
      color: var(--color-destroy-hover);
    }

    &:active {
      color: var(--color-destroy-active)
    }
  }
  .pch-button--destroy.pch-button--medium {
    border: solid 2px currentColor;
  }

  .pch-button--destroy.pch-button--high {
    background-color: var(--color-destroy);
    color: var(--color-destroy-accessible);
    transition: background-color .3s $animation;

    &:hover {
      background-color: var(--color-destroy-hover);
    }

    &:active {
      background-color: var(--color-destroy-active);
    }
  }

  .pch-button--medium {
    padding: calc(.5rem - 2px) calc(1rem - 2px);
  }
  .pch-button--high {
    padding: .5rem 1rem;
  }