body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  font-family: 'Alegreya Sans', sans-serif;
  background-color: var(--color-background);
  color: var(--color-contrast);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Alegreya SC', serif;
  font-weight: 800;
}