$animation: cubic-bezier(0,1.02,.48,.98);

:root {
  // --base0: hsl(193, 100%, 11%);
  // --base1: hsl(192, 83%, 14%);
  --color-background: #d3dbde; // Main bg for the app
  --color-background-mid: hsl(200, 20%, 95%); // Bg for something above main bg
  --color-background-top: white; // Bg for elements that sit highest above base
  --color-contrast: hsl(193, 100%, 11%); // Color to accissibly contrast on the darkest background
  --color-primary: hsl(205, 78%, 39%); // Main color for interface elements (not type on its own)
  --color-primary-accessible: hsl(192, 15%, 94%); // Primary color, modified for text
  --color-primary-hover: hsl(205, 68%, 45%);
  --color-primary-active: hsl(205, 86%, 33%);
  --color-create: #667500; // When clicking this thing lets the user create something
  --color-create-accessible: #f2f2ef;
  --color-create-hover: #82940e;
  --color-create-active: #586600;
  --color-destroy: #c22640; // When clicking this thing is going to cause a destructive action
  --color-destroy-accessible: #f2efef;
  --color-destroy-hover: #d43b54;
  --color-destroy-active: #a51c33;
}